body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(36, 36, 36);
}

/* 
    header text colour
*/
.site-header {
    color: white
}

/* 
    my image id tag
*/
#my-image {
    box-shadow: 0px 0px 5px 1px black;
}