/***************************************
Custom CSS
****************************************/

/* creating page header */
header {
    text-align: center;
    /* adding heading image */
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}

/* Setting stlye for entire page */
.container {
    background-color: lightcyan;
    max-width: 1024px;
    margin: 0 auto;
}
html {
    background-color: #aad4cf;
}
main {
    padding: 1em;
}


/* TEXT STYLIZING / PAGE SETUP */
h1 {
    color: white;
    font: sans-serif;
    padding: 200px;
}
/* setting default styles to body text */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    padding-top: none;
    padding-bottom: 1em;
}
/* Starfish Image styling */
img {
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 20px;
    padding-bottom: 30px;
}
/* adding padding between article and section */
section h2 {
    padding-top: 2em;
}
article ul {
    padding-left: none;
}

/* CONTACT FORM STYLES */
section {
    padding-top: 1em;
}
section h2 {
    padding-top: 1em;
}
section form{
    border: 1px solid black;
    padding: 1em;
}
/* input boxes */
input, textarea {
    width: 100%;
    padding: 3px;
}
label {
    padding-top: 5px;
}
form div {
    padding: 0.5em;
}

/* Styling footer of site */
.site-footer {
    padding: 2em;
    text-align: right;
    font-weight: bold;
}
